.button {
    background-color: #877eed;
    border-radius: 24px;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: #544acb;
}