.textInput {
    font-size: 16px;
    line-height: 150%;
    color: #EAEAEA;
    border-radius: 24px;
    border: 1px solid #EAEAEA;
    padding: 12px;
    width: 360px;
    max-width: 100%;
    text-align: center;
    background-color: transparent;
}

.textInput::placeholder {
    color: #eaeaea5b;
}