.eventForm {
  background-color: #212121;
  padding: 32px 28px;
  border-radius: 16px;
  width: 384px;
  max-width: 90%;
  margin: 64px auto;
}

.eventForm h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
}

.camps {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.actions {
  text-align: center;
  margin-top: 32px;
}
