::backdrop {
  background-color: #504d4d;
  opacity: 0.85;
}

.dialog {
  background-color: #1e1e1e;
  border-radius: 16px;
  border: none;
  padding: 16px;
}

.btnCloseWrapper {
  text-align: right;
}

.btnClose {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.body {
    padding: 10px 0;
}
