body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #403C3B;
  background-image: url('/bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}